.sidebar{
    width: 250px;
    min-height: 100vh;
    background-color: var(--secondary-color);
    color: var(--gray-color);
    padding: 20px 0;

    .sidebar__logo{
        justify-content: flex-start;
        margin-bottom: 30px;
        cursor: pointer;
        padding: 0 20px;


    }

    .sidebar__dashboard-name{
        padding: 0 20px;
        justify-content: flex-start;
        margin-bottom: 30px;
    }

    .sidebar__management{
        margin-bottom: 30px;
        justify-content: flex-start;
        text-align: left;
        padding: 5px 0;

        .sidebar__management-title{
            padding: 0 20px;

        }
        

        .sidebar__management-menu{
            justify-content: flex-start;
            padding: 15px 20px;
            transition: all 0.2s ease-in-out;
            
            &:hover{
                cursor: pointer;
                background-color: #050a3f;
                color: var(--lightGray-color) !important;
                p{
                color: var(--lightGray-color) !important;

                }
            }
        }
    }
}

.sidebar.active{
    width: 250px;
}

.sidebar__menu{
    margin-left: 15px;
    font-weight: 500;
}