.client{
    display: flex;
    width: 100vw;

    .client__container{
        
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--lightGray-color);

        .client__container-nav{
            width: 100%;
            padding: 5px 20px;
            justify-content: space-between;
            box-shadow: 0 0 25px rgba(80, 71, 71, 0.05) !important;
            background-color: var(--white-color);

            .client__container-nav-right{
                justify-content: space-between;
                width: 220px;
                color: var(--gray-color);

                .client__country-circle{
                    border: 2px var(--gray-color) solid;
                    border-radius: 50%;
                    padding: 5px;
                    font-size: 0.6rem;

                }

                .client__avater{
                    justify-content: space-between;
                    width: 120px;
                }
            }

            
        }

        .client__container-title{
            width: 100%;
            padding: 20px;
            justify-content: space-between;

            h4{
                color: var(--darkGray-color);
            }

            .client__container-title-right{
                color: var(--gray-color);

                .client__container-title-search{
                    margin-right: 20px;
                    height: 100%;
                    padding: 10px 0;
                    border-radius: 5px;
                    width: 200px;
                    background-color: var(--white-color);

                    input{
                        border: none;
                        background-color: transparent;
                        
                        &:focus{
                                outline: none !important;
                        }

                        &:focus .client__container-title-search{
                            outline: none !important;
                            border: solid 2px var(--primary-color);
                    }

                        &::placeholder{
                            color: var(--gray-color);

                        }
                    }
                }

                .client__container-title-btn{
                    padding: .55rem 1.25rem;
                    color: var(--white-color);
                    border: none;
                    background-color: var(--primary-color);
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover{
                        opacity: 0.9;
                    }

                    &:active{
                        transform: scale(0.98);
                    }
                }
            }
        }

        
        .client__container-list{
            background-color: var(--white-color);
            border-radius: 5px;
            box-shadow: 0 0 25px rgba(80, 71, 71, 0.05) !important;
            width: 96.5%;
            min-width: 980px;
            margin: 20px;
            // height: calc(100vh - 100px);
            flex: 1;
            overflow-x: scroll;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            
            h3{
                color: var(--darkGray-color);
                width: 100%;
                padding: 20px;
                text-align: left;
            }
            
            .client__container-list-heading{
                padding: 10px 20px;
                border-top: 1px var(--lightGray-color) solid;
                border-bottom: 1px var(--lightGray-color) solid;
                width: 100%;
                
                ul{
                    list-style: none;
                    width: 100%;
                    display: flex;
                    
                    
                    li{
                        // width: 3%;
                        flex: .12;
                    }
                    
                    li + li{
                        // width: 20%;
                        flex: 1;
                        
                        
                    }
                    li + li + li{
                        // width: 20%;
                        flex: 1;
                    }
                    li + li + li + li + li{
                        // width: 7%;
                        flex: .5;
                        
                    }
                    li + li + li + li + li + li{
                        // width: 7%;
                        flex: .2;
                        
                    }
                    
                    
                    
                }
            }
            .client__customer{
                width: 100%;
                height: 500px;
                overflow-x: scroll;
            
                .client__customer-list{
                    padding: 10px 20px;
                    // border-top: 1px var(--lightGray-color) solid;
                    border-bottom: 1px var(--lightGray-color) solid;
                        width: 100%;
                        
                        ul{
                            list-style: none;
                            width: 100%;
                            display: flex;
                            font-weight: 300;
                            color: var(--darkGray-color);
                            font-size: 0.9rem;
                            align-items: center;
                            justify-content: center;
                            height: 100%;

                            li{
                                // width: 3%;
                                flex: .12;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                height: 100%;
                            }

                            li + li{
                                // width: 20%;
                                flex: 1;
                            }
                            li + li + li + li + li{
                                // width: 7%;
                                flex: .5;
                                
                            }
                            li + li + li + li + li + li{
                                // width: 7%;
                                flex: .2;
                                
                            }
                    }
                }
            }

            .client__container-list-footer{
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 10px 20px;

                .client__container-footer-left{
                    display: flex;
                    align-items: center;
                    width: 150px;
                    justify-content: space-between;
                }

                .client__container-footer-right{
                    display: flex;
                    align-items: center;
                    width: 250px;
                    justify-content: space-between;
                }

                .client__container-footer-count{
                    color: var(--darkGray-color);
                    cursor: pointer;
                    font-size: 0.8rem;
                }

                .client__container-footer-count.active{
                    padding: 5px;
                    height: 25px;
                    width: 25px;
                    background-color: var(--primary-color);
                    border-radius: 50%;
                    color: var(--white-color);
                    

                }
            }
        }

    }
}




.client__customer-dp{
    background-color: var(--lightGray-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}